.maindiv {
    background-color: #6233b9;
    padding: 1rem;
    width: 20rem;
    /* margin: 2rem auto; */
    border: none;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.author {
    color: #c4a9e4;;
}

.content {
    font-size: 20px;
    color: white;
}